:root {
    --color-one: #E03B24;
    --color-two: #E07D24;
    --color-three: #E15D24;
    --color-four: #E02444;
    --color-five: #E09B24;
    --color-six: #E0916F;
}

*{
    margin: 0;
    padding: 0;
}


.main-header{
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color-one);
    color: white;
    justify-content: space-between;
    padding: 4rem;
    font-family: "Poppins", sans-serif;
    align-items: center;
    
}

.main-header-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.header-link3 {
    
    border: 1px solid #0000;
    text-decoration: none; 
    color: var(--color-one); 
    padding: 0.8rem;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    font-size: 1rem;
    cursor: pointer;
}


