.login-content {
    display: flex;
    height: 100vh;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    gap: 1rem;
    width: 400px;
    height: 450px;
    padding: 3rem;
    border-radius: 20px;
}

.login-inputs input{
    width: 20rem;
    display: flex;
    flex-direction: column;
    height: 2rem;
    padding: 0 .3rem;
    border: 1px solid #b1b1b1;
    border-radius: 5;
}

.login-inputs button{
    outline: none;
    border: 1px solid #000;
    width: 6rem;
    height: 2rem;
    background-color: var(--color-three);
    color: white;
    border-radius: 10px;
    transition: 150ms ease-in-out;
}

.login-inputs button:hover{
    background-color: var(--color-two);
}

