.cart-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.cart-image-name{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cart-produto{
    background-color: #ececec;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.212);
}

.cart-produto img{
    height: 200px;
    border: 2px solid var(--color-three);
    border-radius: 50px;
}

.cart-price{
    color: var(--color-two);
    text-decoration:underline;
    font-weight: 500;
}

.cart-button-buy{
    background-color: var(--color-three);
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    transition: 200ms ease-in-out;
}

.cart-quantity{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cart-quantity button{
    height: 30px;
    width: 30px;
    border: 1px solid var(--color-three);
    border-radius: 50%;
    background-color: var(--color-three);
    color: #fff;
    transition: 200ms ease-in-out;
}

.cart-quantity button:hover{
    cursor: pointer;
    background-color: var(--color-two);
}

.cart-button-buy:hover{
    cursor: pointer;
    background-color: var(--color-two);
}

.cart-delete{
    display: flex;
    position: absolute;
    border: none;
    right: 9.5%;
    transform: translateY(-6rem);
}

.cart-delete img{
    height: 30px;
    border: none;
}

.cart-delete img:hover{
    cursor: pointer;
}
