.bodyAddPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 3rem;
}
.AddPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    gap: 1rem;
    width: 400px;
    height: 450px;
    padding: 3rem;
    border-radius: 20px;
}

.AddPosts form input{
    width: 20rem;
    height: 2rem;
    padding: 0 .3rem;
    border: 1px solid #b1b1b1;
    border-radius: 5;
}

.AddPosts form input:focus{
    outline: none;
}

.AddPosts form input:last-child{
    width: 6rem;
    background-color: var(--color-three);
    color: white;
    border-radius: 10px;
    transition: 150ms ease-in-out;
}

.AddPosts form input:last-child:hover{
    background-color: var(--color-two);
}

.AddPosts form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.EditPostsCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    gap: 1rem;
    width: 400px;
    height: 450px;
    padding: 3rem;
    border-radius: 20px;
}

.EditCategoryMap{
    display: flex;
    width: 20rem;
    justify-content: space-between;
}

.EditCategoryMap input{
    width: 220px;
    padding: 10px;
    box-sizing: border-box;
}

.EditCategoryMap button{
    border: none;
    background-color: #f5f5f5;
}

.EditCategoryMap button:hover{
    cursor: pointer;
}

.EditCategoryMapButton{
    display: flex;
    gap: 10px;
}