*{
    font-family: "Poppins", sans-serif;
}
:root {
    --color-one: #E03B24;
    --color-two: #E07D24;
    --color-three: #E15D24;
    --color-four: #E02444;
    --color-five: #E09B24;
    --color-six: #E0916F;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    background-color: #f1e8e8;
    border-radius: 10px;
    justify-content: center; 
    align-items: center;   
    padding: 10px;
    box-shadow: 10px 10px 0px 0px #afafaf;
    -webkit-box-shadow: 10px 10px 0px 0px #afafaf;
    -moz-box-shadow: 10px 10px 0px 0px #afafaf;
}

.text-container {
    padding: 20px;
    border: 2px solid black; 
    border-radius: 10px; 
    background-color: white; 
}

.title {
    text-align: center;
    font-size: 30px;
}
.title-2nd {
    text-align: center;
    font-size: 30px;
    padding: 50px;
}
.programadores{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}
.programadores-itens{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid var(--color-two);
    background-color: none;
    margin-bottom: 100px;
}


/* .footer{
    width: 100%;
    height: 25px;
    margin-bottom: 0;
    background-color: var(--color-two);
} */
.fotos{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}